<!--Header start-->
<nav class="nav-extended">
    <div class="nav-wrapper green">
        <a href="/">
            <p class="logo">Samarthya</p>
        </a>
    </div>
    <div class="nav-content center-align teal ">
        <div class="nav-title largeScreen" *ngFor="let lang of languages">
            <button md-button>{{lang.name}}</button>
        </div>
    </div>
</nav>

<!--language button for samll screen-->
<div class="fixed-action-btn horizontal langBtn">
    <a class="btn-floating btn-large teal">
        <i class="material-icons">translate</i>
    </a>
    <ul>
        <li *ngFor="let lang of languages">
            <a class="btn-floating"><i class="material-icons">translate</i></a>
        </li>

    </ul>
</div>

<!--RouterLinks for login password reset and candidate register-->
<!--<a routerLink="/login" routerLinkactive="active">LOGIN</a>
    <a routerLink="/candidateRegister" routerLinkactive="active">REG</a>-->
<!--<a routerLink="/passwordReset" routerLinkactive="active">RESET</a>-->
<router-outlet></router-outlet>

<!--footer starts-->
<!--<footer class="page-footer green">
    <div class="container">
        © Copyright Samarthya 2017
    </div>
</footer>-->
<footer class="page-footer green">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Samarthya</h5>
                <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12 left-align">
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Samarthya Candidate</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Samarthya Placement</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">FAQ</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © Copyright Samarthya 2017
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>