<!--Header start-->
<div class="content">
    <nav class="nav-extended">
        <div class="nav-wrapper green">
            <a href="/">
                <p class="logo">Samarthya</p>
            </a>
        </div>
        <div class="nav-content center-align teal ">
            <div class="nav-title largeScreen" *ngFor="let lang of languages">
                <button md-button>{{lang.name}}</button>
            </div>
        </div>
    </nav>

    <!--language button for samll screen-->
    <div class="fixed-action-btn horizontal langBtn">
        <a class="btn-floating btn-large red">
            <i class="material-icons">translate</i>
        </a>
        <ul>
            <li *ngFor="let lang of languages">
                <a class="btn-floating red "><i class="material-icons">translate</i></a>
            </li>

        </ul>
    </div>
    <!--login card-->

    <md-grid-list cols="1" rowHeight="750px">
        <md-grid-tile>
            <md-card class="loginCard blue-grey-text">
                <md-card-title>LOGIN</md-card-title>
                <md-card-content>

                    <form class="col s12" [formGroup]="userForm" (ngSubmit)="onSubmit()">

                        <!--Email input-->
                        <div class="row">
                            <div class="input-field ">
                                <i class="material-icons prefix formIcons">mail</i>
                                <label for="email">Email</label>
                                <input formControlName="email" id="email" type="text" class="<validate></validate>" />
                                <app-control-messages [control]="userForm.controls.email" class="errorStyle"></app-control-messages>
                            </div>
                        </div>

                        <!--passowrd input-->
                        <div class="row">
                            <div class="input-field">
                                <i class="material-icons prefix formIcons">lock</i>
                                <input id="password" type="password" class="validate" formControlName="password">
                                <label for="passowrd">Password</label>
                                <app-control-messages [control]="userForm.controls.password" class="errorStyle"></app-control-messages>
                            </div>
                        </div>

                        <!--sign in button-->
                        <div class="row center-align">
                            <button type="submit" class="waves-effect btn-large green signInBtn" [disabled]="!userForm.valid">
                               Sign in
                            </button>
                        </div>
                        <div class="row center-align">
                            <a class="waves-effect" data-target="modalForgotPassword">Forgot Password ?</a>
                        </div>

                        <!--Sign button for largeScreen-->
                        <div class="row center-align col s12 ">
                            <button type="submit" class="waves-effect btn green signInBtn largeScreen" data-target="modalCreateAccount">Create Account</button>
                        </div>
                        <div class="row center-align col s12">
                            <div class="col s6 leftBtn">
                                <button type="submit" class="waves-effect btn red signInBtn largeScreen">
                                   <i class="zmdi zmdi-google zmdi-hc-fw"></i>
                                   Login with Google
                                  </button>
                            </div>
                            <div class="col s6 rightBtn">
                                <button type="submit" class="waves-effect btn indigo signInBtn largeScreen">
                                    <i class="zmdi zmdi-facebook-box zmdi-hc-fw"></i>
                                    Login with Facebook
                                </button>
                            </div>
                        </div>

                        <!--Sign in Button for smallScreen-->
                        <div class="row center-align col s12">
                            <button type="submit" class="waves-effect btn green signInBtn smallScreen" data-target="modalCreateAccount">Create Account</button>
                        </div>
                        <div class="row center-align col s12">
                            <div class="col s6 leftBtn">
                                <button type="submit" class="waves-effect btn red signInBtn smallScreen">
                                  <i class="zmdi zmdi-google zmdi-hc-fw"></i>
                                   Login
                                </button>
                            </div>
                            <div class="col s6 rightBtn">
                                <button type="submit" class="waves-effect btn indigo signInBtn smallScreen">
                                  <i class="zmdi zmdi-facebook-box zmdi-hc-fw"></i>
                                  Login
                                </button>
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
            <!--card-ends-->

        </md-grid-tile>
    </md-grid-list>
</div>


<!--footer starts-->
<footer class="page-footer green">
    <div class="container">
        © 2014 Copyright Text
    </div>
</footer>



<!--Modal for create Account-->
<div id="modalCreateAccount" class="modal">
    <div class="modal-content">
        <h5 class="center">Verify Your Email</h5>

        <form class="col s12" [formGroup]="modalVerify" (ngSubmit)="onModalVerify()">
            <div class="row">
                <div class="input-field ">
                    <i class="material-icons prefix formIcons">mail</i>
                    <label for="emailVerify">Email</label>
                    <input formControlName="email" id="emailVerify" type="text" class="validate" />
                    <!--<app-control-messages [control]="modalVerify.controls.email" class="errorStyle"></app-control-messages>-->
                    <app-control-messages [control]="modalVerify.controls.email" class="errorStyle"></app-control-messages>
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" class="waves-effect btn red signInBtn modal-close" [disabled]="!modalVerify.valid">
                    Verify
                </button>
            </div>
        </form>
    </div>
</div>


<!--Modal for Forgot Password-->
<div id="modalForgotPassword" class="modal">
    <div class="modal-content">
        <h5 class="center">Password Reset</h5>

        <form class="col s12" [formGroup]="modalReset" (ngSubmit)="onModalReset()">
            <div class="row">
                <div class="input-field ">
                    <i class="material-icons prefix formIcons">mail</i>
                    <label for="emailReset">Email</label>
                    <input formControlName="email" id="emailReset" type="text" class="validate modalInput" />
                    <app-control-messages [control]="modalReset.controls.email" class="errorStyle"></app-control-messages>
                </div>
            </div>
            <div class="row center-align">
                <button type="submit" class="waves-effect btn red signInBtn modal-close" [disabled]="!modalReset.valid">
                    Reset
                </button>
            </div>
        </form>
    </div>
</div>