.formIcons {
    line-height: unset;
}

.logo {
    text-align: center;
    margin: auto;
    font-size: 30px;
    color: whitesmoke
}

md-select {
    color: red;
}

.logo:hover {
    color: white;
}

.loginCard {
    width: 600px;
    top: 0px;
}

.leftBtn {
    padding-left: 0px;
}

.rightBtn {
    padding-right: 0px;
}

md-card-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 25px;
}

.signInBtn {
    width: 100%;
}

.nav-title {
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    align-content: center;
}

nav {
    position: fixed;
    z-index: 10;
}


/*error display in form*/

.errorStyle {
    display: block;
    position: absolute;
    top: 50px;
    left: 45px;
    font-size: 12px;
    transition: all .7s;
    color: #F44336;
}


/*floating language btn for small screen*/

.fixed-action-btn {
    position: absolute;
    right: 0px;
    top: 55px;
    bottom: unset;
    color: white;
    z-index: 1;
}

.fixed-action-btn.horizontal ul {
    width: 300px;
}

.fixed-action-btn.horizontal ul li {
    margin: 0px;
    margin-left: 12px;
}

.fixed-action-btn.horizontal {
    margin: 0px;
    padding: 0px;
}

.fixed-action-btn ul {
    bottom: unset;
}


/*form error colors*/

input.ng-valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}

input.ng-invalid {
    border-bottom: 1px solid #F44336;
    box-shadow: 0 1px 0 0 #F44336;
}

input.ng-pristine {
    border-bottom: 1px solid #607D8B;
    box-shadow: 0 1px 0 0 #607D8B;
}


/*for smaller screens*/

@media (min-width: 10px) {
    .langBar {
        display: none;
    }
    .largeScreen {
        position: absolute;
        display: none;
    }
    .smallScreen {
        position: relative;
        display: inline;
    }
    .langBtn {
        visibility: visible;
    }
}

@media (min-width: 370px) {
    .page-footer {
        bottom: 0px;
    }
}


/*for Medium screens*/

@media (min-width: 480px) {
    .langBar {
        display: block;
    }
    .largeScreen {
        position: absolute;
        display: none;
    }
    .smallScreen {
        position: relative;
        display: inline;
    }
    .langBtn {
        visibility: visible;
    }
}


/*
for large screens*/

@media (min-width:768px) {
    .langBar {
        display: block;
    }
    .smallScreen {
        position: absolute;
        display: none;
    }
    .largeScreen {
        position: relative;
        display: inline;
    }
    .langBtn {
        visibility: hidden;
    }
    .loginCard {
        top: 50px;
    }
}

@media (min-height: 10px) {
    .page-footer {
        margin: 0px;
        color: white;
        text-align: center;
        padding: 10px;
    }
}

@media (min-height: 1000px) {
    .page-footer {
        margin: 0px;
        position: absolute;
        bottom: 0px;
        color: white;
        text-align: center;
        padding: 10px;
        width: 100%;
    }
}