<!--Reset Password card-->
<div>
    <md-grid-list cols="1" rowHeight="700">
        <md-grid-tile>
            <!--card Start-->
            <md-card class="loginCard blue-grey-text">
                <md-card-title>Password Reset</md-card-title>
                <md-card-content>
                    <form class="col s12" [formGroup]="userForm" (ngSubmit)="onSubmit()">

                        <!--Email-->
                        <div class="row">
                            <div class="input-field ">
                                <i class="material-icons prefix formIcons">mail</i>
                                <label for="email">Email*</label>
                                <input formControlName="email" id="email" type="text" class="validate" value={{emailId}} disabled/>
                                <!--<app-control-messages [control]="userForm.controls.email" class="errorStyle"></app-control-messages>-->
                            </div>
                        </div>

                        <!--passowrd-->
                        <div class="row">
                            <div class="input-field ">
                                <i class="material-icons prefix formIcons">lock</i>
                                <label for="password">Password*</label>
                                <input formControlName="password" id="password" type="password" class="validate" #password (blur)="passwordValue(password.value)" />
                                <app-control-messages [control]="userForm.controls.password" class="errorStyle"></app-control-messages>

                            </div>
                        </div>

                        <!--confirm password-->
                        <div class="row">
                            <div class="input-field">
                                <i class="material-icons prefix formIcons">lock</i>
                                <label for="conPassword">Confirm Password*</label>
                                <input formControlName="conPassword" id="conPassword" type="password" class="validate" #conPassword (keyup)="conPasswordValue(conPassword.value,password.value)" />
                                <div *ngIf="passwordMatchWarning" class="errorStyle">{{passwordMatchWarning}}</div>
                            </div>
                        </div>

                        <!--Reset Button-->
                        <div class="row center-align">
                            <button type="submit" id="resetBtn" class="waves-effect btn-large green signInBtn" [disabled]="!userForm.valid">Reset</button>
                        </div>

                    </form>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>